body {
  background-color: #212529;
}

hr {
  border: 1px solid #1d3e47;
  width: 100%;
}

input {
  width: 100%;
  text-align: center;
}

select {
  width: 100%;
  text-align: center;
}

button {
  width: 100%;
}

label {
  width: 100%;
}

.container {
  height: 75vh;
}

.serverState {
  width: 50%;
  background-color: transparent;
  border: 2px solid #dc3545;
  color: #dc3545;
  padding: 10px;
  text-align: center;
}

.card {
  width: 50%;
  background-color: #6c757d;
}

.card-body {
  width: 75%;
}

.queryDate {
  width: 50%;
  background-color: transparent;
  border: 2px solid #007bff;
  color: #007bff;
  padding: 10px;
  text-align: center;
}

.chartContainer {
  width: 100%;
}
